{% assign projects = site.data.data.projects %}
{% if projects %}
<section class="projects">
    <h2 class="title">Projects</h2>
    {% for proj in projects %}
        <div class="projects-item">
            <div class="project-title">
                {{proj.project-title}}
            </div>

            <div class="subject">
                {{proj.subject}} 
                <span class="time">{{proj.time}}</span>
            </div> 

            <div class="details">
                        {{ proj.details }}
                        <a class="project-link" href="{{ proj.link }}"> (link)</a>
            </div>

        </div>
        <p></p>
    {% endfor %}
</section>
{% endif %}
