.projects {
    .title {
        @include header;
    }
    .project {
        margin-bottom: 20px;
        .project-link {
            @include body-text;
        }
        .details {
            @include body-text;
        }
        .time {
                float: right;
                color: var(--fg-color-title-sm);
                font-weight: 100;
            }
        }
    }
}
