.projects {
    .title {
        @include header;
    }
    .projects-item {
        .project-title {
            @include sub-header;
        }
        .project-link {
            @include body-text;
        }
        .subject {
            @include body-text;
            font-weight: bold;
            .time {
                float: right;
                color: var(--fg-color-title-sm);
                font-weight: 100;
            }
        }
        .details {
            @include body-text;
        }
        .technologies {
            @include body-text;
        }
    }
}
